body {
  background-color: #8359A3;
  font-family: Arial, sans-serif;
  color: #000000;
}

.kartu-profile {
  text-align: center;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 115px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);

.kartu-profile img {
  width: 50px;
  border-radius: 50%;
}
