body {
  background-color: #8359A3;
  font-family: Arial, sans-serif;
  color: #000000;
}

.kartu-profile {
  text-align: center; 
  width: 300px;
  margin: 150px auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.kartu-profile img {
  width: 120px; 
  border-radius: 50%;
  margin-bottom: 10px;
}

.toggle-btn {
      background-color: #ffcd4d;
      border: none;
      border-radius: 50px;
      padding: 12px 25px;
      cursor: pointer;
      font-weight: 600;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      position: fixed;
      bottom: 30px;
      right: 30px;
      animation: float 3s ease-in-out infinite;
    }

    .toggle-btn:hover {
      transform: scale(1.1);
      box-shadow: 0 0 15px rgba(255,255,255,0.4);
    }

    @keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-8px); }
    }
